name: Lint PR title

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  lint-pr-title:
    name: Lint PR title
    if: github.event.changes.title
    runs-on: ubuntu-latest
    timeout-minutes: 1

    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            chore
            fix
            feat
